<!-- Requerimeinto Angel -->
<div>
    <h1>Generalidades de Devops</h1>
    <p>
        DevOps es un marco de trabajo y una filosofía en constante evolución que promueve un mejor desarrollo de
        aplicaciones en menos tiempo y la rápida publicación de nuevas o revisadas funciones de software o productos
        para los clientes.

        Con DevOps se promueve una comunicación continua más fluida, la colaboración, la integración, la visibilidad y
        la transparencia entre equipos de desarrollo de aplicaciones (Dev) y sus homólogos en operaciones tecnológicas
        (Ops).
    </p>
</div>

<!-- Requerimeinto Edgar -->
<div>
    <h1>Desarrollo de software</h1>
    <p>Desarrollar un software significa construirlo simplemente mediante
        su descripción. Esta es una muy buena razón para considerar la actividad
        de desarrollo de software como una ingeniería. En un nivel más general,
        la relación existente entre un software y su entorno es clara
        ya que el software es introducido en el mundo de modo de provocar ciertos efectos en el mismo</p>
</div>

<!-- Requerimeinto Gabriel -->
<div>
    <h1>Que hace el equipo de Operaciones?</h1>
    <p>Cumplimiento del requerimiento</p>
</div>

<!-- Requerimeinto Diego -->
<div>
    <h1>
        Beneficios de implementar DevOps en tu empresa
    </h1>
    <p>
        La metología DevOps, acrónimo inglés de development (desarrollo) y operations (operaciones), ha impregnado el
        desarrollo y la gestión de operaciones en la industria IT. Las empresas necesitan ser mucho más ágiles, tener
        automatizadas las operaciones, y poder escalar sus procesos de forma eficiente. Para ello existen prácticas que
        coordinan y acercan a los equipos de desarrolladores y profesionales IT.
    </p>
</div>
