<h1>Esta es la pagina principal de Heroes!</h1>
<img class="imghero" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqiwKfEsX1FPk9ZqHDP5mrOA-xbPHp2_hIOQ&usqp=CAU" alt="">
<br>
<p>
    Un superhéroe es un personaje de ficción cuyas características superan las del héroe clásico, generalmente con poderes sobrehumanos aunque no necesariamente, y entroncado con la ciencia ficción. Generados a finales de los año 1936 en la industria del comic book estadounidense, que contribuyeron a levantar,​han gozado de multitud de adaptaciones a otros medios, especialmente el cine.
</p>
<br>
<h2>top 8 heroes</h2>
<ol>
    <li>Wonder Woman.</li>
    <li>Spider-Man.</li>
    <li>Batman.</li>
    <li>Superman.</li>
    <li>Wolverine.</li>
    <li>Iron Man.</li>
    <li>Capitán América.</li>
    <li>Hulk.</li>
</ol>